
.ipynb_checkpoints/gen_xyz_raw_spec_as_int-checkpoint.csv
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/transformation_x-checkpoint.ipynb
.ipynb_checkpoints/transformation_xyz-checkpoint.ipynb
.ipynb_checkpoints/geneva_xyz_transformed-checkpoint.csv
